
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo ou titre du site -->
      <a class="navbar-brand" href="#">Logo</a>

      <!-- Bouton du menu burger -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenu de la barre de navigation -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link" id="home" href="#">camp de base</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="combatant" href="#">combatant</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="profil" href="#">profile</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="clan" href="#">clan</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="message" href="#">messagerie</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="admin" href="#">administration</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script src="../controllers/header.js"></script>